openapi: 3.0.3
servers:
  - description: PCS Maritime Agency Responsability API
    url: https://pcs-api.its.org.br/api/agency-responsability/0.0.1
info:
  description: Rest API for manage Maritime Agency responsabilities and voyage acceptance
  version: 0.0.1
  title: PCS Maritime Agency Responsability API
  contact:
    email: contato@its.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /agency-responsability:
    post:
      summary: >-
        Through this interface, it is possible to express the acceptance or
        refusal of responsibility related to a trip.
      operationId: maritimeAgencyAcceptance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceMaritimeAgencyAcceptance'
      responses:
        '201':
          description: successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /agency-responsability/{cnpj}:
    get:
      parameters:
        - name: cnpj
          in: path
          required: true
          schema:
            type: string
      summary: >-
        Through this interface, it is possible to consult trips where the actor
        has been mentioned as responsible for one or more activities.
      operationId: getMaritimeAgencyResponsabilities
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceMaritimeAgencyAcceptance'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceMaritimeAgencyAcceptance'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /agency-responsability/{methodID}/{value}:
    patch:
      summary: >-
        Through this interface it is possible to update the acceptance or denial
        of responsibility for a trip
      operationId: updateMaritimeAgencyResponsabilities
      parameters:
        - name: methodID
          in: path
          required: true
          schema:
            type: string
            enum:
              - PCSVoyageID
              - receiptID
        - name: value
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceMaritimeAgencyAcceptance'
        description: Updated responsabilities
        required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: error message code
        message:
          type: string
          description: error message description
    ServiceMaritimeAgencyAcceptance:
      type: object
      required:
        - IDMethod
        - acceptance
        - responsabilityCODE
      properties:
        IDMethod:
          type: object
          properties:
            PCSvoyageID:
              type: string
              description: Voyage Number generated by PCS
            receiptID:
              type: string
              description: >-
                Receipt code made available to the applicant for future status
                consultation at the time of trip creation
          oneOf:
            - required:
                - PCSvoyageID
            - required:
                - receiptID
        acceptance:
          type: string
          enum:
            - Accepted
            - Refused
          description: >-
            Field where the mooring company or tugboat must express acceptance
            or refusal of the operation informed by the shipping agent, related
            to a trip (PCSVoyageID)
        responsabilityCODE:
          type: string
          description: The code 000 means all responsabilities
