openapi: 3.0.3
servers:
  - description: PCS Dangerous Goods API
    url: https://pcs-api.its.org.br/api/dangerous-goods/0.0.1
info:
  description: Rest API for manage Dangerous Goods
  version: 0.0.1
  title: PCS Dangerous Goods API
  contact:
    email: contato@its.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /dangerous-cargo/{PCSVoyageID}:
    post:
      summary: Creates a hazardous cargo list in PCS linked to a voyage
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DangerousGoods'
      responses:
        '201':
          description: Item created
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
    get:
      summary: get a hazardous cargo list in PCS linked to a voyage
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authorization'
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: update a hazardous cargo list in PCS linked to a voyage
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authorization'
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Some item can`t be changed
    delete:
      summary: delete a hazardous cargo list in PCS linked to a voyage
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authorization'
      responses:
        '200':
          description: Successful Operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Item Not fount
  /dangerous-cargo-evaluation/{PCSVoyageID}:
    post:
      summary: update information regarding hazardous cargo analysis.
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authorization'
      responses:
        '201':
          description: Item created
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          minLength: 5
          maxLength: 5
          description: error message code
        message:
          type: string
          minLength: 1
          maxLength: 500
          description: error message description
    DangerousGoods:
      type: object
      required:
        - PCSVoyageID
        - portID
        - shipID
        - agentSpecificInformation
        - dangerousGoodsContent
      properties:
        PCSVoyageID:
          type: string
          description: Trip identification code generated by PCS
          minLength: 20
          maxLength: 20
          example: PCS00000123456789001
        portID:
          $ref: '#/components/schemas/PortID'
        shipID:
          $ref: '#/components/schemas/ShipID'
        agentSpecificInformation:
          $ref: '#/components/schemas/AgentSpecificInformation'
        dangerousGoodsContent:
          type: array
          items:
            $ref: '#/components/schemas/DangerousGoodsContent'
    Authorization:
      type: object
      required:
        - PCSVoyageID
        - authorizationID
        - authorizationStatus
        - requirementCode
        - requirementDescription
      properties:
        PCSVoyageID:
          type: string
          description: Trip identification code generated by PCS
          minLength: 20
          maxLength: 20
          example: PCS00000123456789001
        authorizationID:
          type: string
          description: authorization code
        authorizationStatus:
          type: string
          description: authorization status
        requirementCode:
          type: array
          items:
            type: string
            description: Pending code.
        requirementDescription:
          type: string
          description: description of pendency
    PortID:
      type: object
      required:
        - portDischargeCoded
        - portDischargeName
        - portLoadingCoded
        - portLoadingName
        - authenticatorRoleCoded
      properties:
        portDischargeCoded:
          type: string
          description: Dicharge port code of referenced cargo
        portDischargeName:
          type: string
          description: Name and Country of discharge port
        portLoadingCoded:
          type: string
          description: loading port code of referenced cargo
        portLoadingName:
          type: string
          description: Name and Country of loading port
        authenticatorRoleCoded:
          type: string
          description: >-
            A code that provides the role of the person who attests to the
            validity of the transmitted information.
    ShipID:
      type: object
      required:
        - shipFlagStateCoded
        - shipIMONumber
        - shipName
        - shipStayReferenceNumber
      properties:
        shipFlagStateCoded:
          type: string
          description: >-
            The code representing the nationality of the ship shown on your IMO
            ship certificate. ISO 3166-1 alpha-2 code (code  UN  /  EDIFACT
            3207)
        shipIMONumber:
          type: string
          description: >-
            The unique ship identification number shown on your IMO Ship
            Certificate. (Reference:/ IMO0140)
          maxLength: 7
          example: '1801323'
        shipName:
          type: string
          description: >-
            The unique ship identification number shown on your IMO Ship
            Certificate.
          example: Vessel A
        shipStayReferenceNumber:
          type: string
          description: >-
            Reference number assigned by a port authority to the stay of a ship
            in port.
    AgentSpecificInformation:
      type: object
      required:
        - agentCity
        - agentContactName
        - agentCountryCode
        - agentCountrySubDivisionName
        - agentEmail
        - agentIdentificationNumber
        - agentLandlineNumber
        - agentMobileNumber
        - agentName
        - agentPostcode
        - agentStreetAndNumberPOBox
        - authenticationDate
        - authenticatorName
        - authenticatorPartyIdentificationNumber
      properties:
        agentCity:
          type: string
          description: The city of the referenced agent in the port.
        agentContactName:
          type: string
          description: The contact name of the agent's employee
        agentCountryCode:
          type: string
          description: >-
            A code representing the country address of the agent referenced on
            the port. ISO 3166-1 alpha-2 code (UN codes /EDIFACT 3207)
        agentCountrySubDivisionName:
          type: string
          description: The subdivision of the country of the agent referenced in the port
        agentEmail:
          type: string
          description: The email of the referenced agent in the port.
        agentIdentificationNumber:
          type: string
          description: >-
            The recognized identification number used by the ship's agent at the
            port of notification.
        agentLandlineNumber:
          type: string
          description: The landline number of the agent referenced at the port.
        agentMobileNumber:
          type: string
          description: The mobile number of the agent referenced at the port.
        agentName:
          type: string
          description: The agent's name at the port of arrival.
        agentPostcode:
          type: string
          description: >-
            An alphanumeric code representing the postal area of the agent
            referenced in the port
        agentStreetAndNumberPOBox:
          type: string
          description: >-
            The postal delivery point, such as the street and number or PO box
            of the agent referenced in the port
        authenticationDate:
          type: string
          description: The authentication date.
        authenticatorName:
          type: string
          description: >-
            The name of the person who attests to the validity of the
            information transmitted.
        authenticatorPartyIdentificationNumber:
          type: string
          description: >-
            An identification number, such as an agent identifier, of the party
            that attests to the validity of the transmitted information
    DangerousGoodsContent:
      type: object
      required:
        - transportEquipmentIdentificationNumber
        - cargoItemMarksAndNumbers
        - stowagePositionOnboard
        - dangerousGoodsEmsNumber
        - dangerousGoodsFlashpoint
        - dangerousGoodsHazardClassCoded
        - dangerousGoodsMarinePollutantTypeCoded
        - dangerousGoodsMass
        - dangerousGoodsNumberOfPackages
        - dangerousGoodsPackingGroup
        - dangerousGoodsProperShippingName
        - dangerousGoodsShippersReferenceNumber
        - dangerousGoodsSubsidiaryRisksCoded
        - dangerousGoodsTechnicalSpecifications
        - dangerousGoodsUNDGNumber
        - dangerousGoodsVolume
        - measurementUnitCoded
        - dangerousGoodsAdditionalInformation
        - dangerousGoodsPackageTypeCoded
        - voyageNumber
        - vehicleIdentificationNumberVIN
        - dangerousGoodsRegulationCoded
        - messageFunctionCode
      properties:
        transportEquipmentIdentificationNumber:
          type: string
          description: transport equipment identification number
        cargoItemMarksAndNumbers:
          type: string
          description: >-
            An alphanumeric or symbolic identifier assigned by the shipper as a
            means of tracking non-bulk cargo.
        stowagePositionOnboard:
          type: string
          description: stowage position on board
        dangerousGoodsEmsNumber:
          type: string
          description: >-
            The emergency schedule identified in the values of the IMO EmS Guide
            - Emergency Response Procedures for Ships Carrying Dangerous Goods.
            1 for spill and 1 for fire
        dangerousGoodsFlashpoint:
          type: string
          description: Possible spill values:\ S-A to S-Z.
        dangerousGoodsHazardClassCoded:
          type: string
          description: >-
            Possible values are:\ F-A to F-Z. (Reference:\ EmS number of
            dangerous goods)
        dangerousGoodsMarinePollutantTypeCoded:
          type: string
          description: >-
            flash point of dangerous goods referenced according to the IMO Code
            IMDG expressed in degrees Celsius or Fahrenheit.
        dangerousGoodsMass:
          type: integer
          description: >-
            The hazard class code of the goods or dangerous goods referenced in
            accordance with the regulations. IMO Compendium Annex 4, section 1
            (Reference:/ Dangerous goods hazard class, coded)
        dangerousGoodsNumberOfPackages:
          type: integer
          description: ainda falta arrumar na especificacao
        dangerousGoodsPackingGroup:
          type: string
          description: ainda falta arrumar na especificacao
        dangerousGoodsProperShippingName:
          type: integer
          description: ainda falta arrumar na especificacao
        dangerousGoodsVolume:
          type: integer
          description: ainda falta arrumar na especificacao
        dangerousGoodsSubsidiaryRisksCoded:
          type: string
          description: ainda falta arrumar na especificacao
        dangerousGoodsTechnicalSpecifications:
          type: string
          description: ainda falta arrumar na especificacao
        dangerousGoodsUNDGNumber:
          type: integer
          description: ainda falta arrumar na especificacao
        measurementUnitCoded:
          type: string
          description: ainda falta arrumar na especificacao
        dangerousGoodsAdditionalInformation:
          type: string
          description: ainda falta arrumar na especificacao
        dangerousGoodsPackageTypeCoded:
          type: string
          description: ainda falta arrumar na especificacao
        voyageNumber:
          type: string
          description: ainda falta arrumar na especificacao
        vehicleIdentificationNumberVIN:
          type: string
          description: ainda falta arrumar na especificacao
        dangerousGoodsRegulationCoded:
          type: string
          description: ainda falta arrumar na especificacao
        messageFunctionCode:
          type: string
          description: ainda falta arrumar na especificacao
