openapi: 3.0.3
servers:
  - description: PCS Dangerous Goods API
    url: https://pcs-api.its.org.br/api/dangerous-goods/0.0.1
info:
  description: Rest API for manage Dangerous Goods
  version: 0.0.1
  title: PCS Dangerous Goods API
  contact:
    email: contato@its.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /Dangerous-cargo/{PCSvoyageID}:
    post:
      summary: Creates a hazardous cargo list in PCS linked to a trip
      operationId: createCargoList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DangerousGoods'
      responses:
        '201':
          description: Item created
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: error message code
        message:
          type: string
          description: error message description
    DangerousGoods:
      type: object
      required:
        - PCSVoyageID
        - PortID
        - ShipID
        - AgentSpecificInformation
        - DangerousGoodsContent
      properties:
        PCSVoyageID:
          type: integer
          description: Trip identification code generated by PCS
        PortID:
          $ref: '#/components/schemas/PortID'
        ShipID:
          $ref: '#/components/schemas/ShipID'
        AgentSpecificInformation:
          $ref: '#/components/schemas/AgentSpecificInformation'
        DangerousGoodsContent:
          $ref: '#/components/schemas/DangerousGoodsContent'
    PortID:
      type: object
      required:
        - portDischargeCoded
        - portDischargeName
        - portLoadingCoded
        - portLoadingName
        - authenticatorRoleCoded
      properties:
        portDischargeCoded:
          type: string
          description: Dicharge port code of referenced cargo
        portDischargeName:
          type: string
          description: Name and Country of discharge port
        portLoadingCoded:
          type: string
          description: loading port code of referenced cargo
        portLoadingName:
          type: string
          description: Name and Country of loading port
        authenticatorRoleCoded:
          type: string
          description: >-
            A code that provides the role of the person who attests to the
            validity of the transmitted information.
    ShipID:
      type: object
      required:
        - shipFlagStateCoded
        - shipIMONumber
        - shipName
        - shipStayReferenceNumber
      properties:
        shipFlagStateCoded:
          type: string
          description: >-
            The code representing the nationality of the ship shown on your IMO
            ship certificate. ISO 3166-1 alpha-2 code (code  UN  /  EDIFACT
            3207)
        shipIMONumber:
          type: string
          description: >-
            The unique ship identification number shown on your IMO Ship
            Certificate. (Reference:/ IMO0140)
        shipName:
          type: string
          description: >-
            The unique ship identification number shown on your IMO Ship
            Certificate.
        shipStayReferenceNumber:
          type: string
          description: >-
            Reference number assigned by a port authority to the stay of a ship
            in port.
    AgentSpecificInformation:
      type: object
      required:
        - agentCity
        - agentContactName
        - agentCountryCode
        - agentCountrySubDivisionName
        - agentEmail
        - agentIdentificationNumber
        - agentLandlineNumber
        - agentMobileNumber
        - agentName
        - agentPostcode
        - agentStreetAndNumberPOBox
        - authenticationDate
        - authenticatorName
        - authenticatorPartyIdentificationNumber
      properties:
        agentCity:
          type: string
          description: The city of the referenced agent in the port.
        agentContactName:
          type: string
          description: The contact name of the agent's employee
        agentCountryCode:
          type: string
          description: >-
            A code representing the country address of the agent referenced on
            the port. ISO 3166-1 alpha-2 code (UN codes /EDIFACT 3207)
        agentCountrySubDivisionName:
          type: string
          description: The subdivision of the country of the agent referenced in the port
        agentEmail:
          type: string
          description: The email of the referenced agent in the port.
        agentIdentificationNumber:
          type: string
          description: >-
            The recognized identification number used by the ship's agent at the
            port of notification.
        agentLandlineNumber:
          type: string
          description: The landline number of the agent referenced at the port.
        agentMobileNumber:
          type: string
          description: The mobile number of the agent referenced at the port.
        agentName:
          type: string
          description: The agent's name at the port of arrival.
        agentPostcode:
          type: string
          description: >-
            An alphanumeric code representing the postal area of the agent
            referenced in the port
        agentStreetAndNumberPOBox:
          type: string
          description: >-
            The postal delivery point, such as the street and number or PO box
            of the agent referenced in the port
        authenticationDate:
          type: string
          description: The authentication date.
        authenticatorName:
          type: string
          description: >-
            The name of the person who attests to the validity of the
            information transmitted.
        authenticatorPartyIdentificationNumber:
          type: string
          description: >-
            An identification number, such as an agent identifier, of the party
            that attests to the validity of the transmitted information
    DangerousGoodsContent:
      type: object
      required:
        - TransportEquipmentIdentificationNumber
        - CargoItemMarksAndNumbers
        - stowagePositionOnboard
        - dangerousGoodsEmsNumber
        - dangerousGoodsFlashpoint
        - dangerousGoodsHazardClassCoded
        - dangerousGoodsMarinePollutantTypeCoded
        - dangerousGoodsMass
        - dangerousGoodsNumberOfPackages
        - dangerousGoodsPackingGroup
        - dangerousGoodsProperShippingName
        - dangerousGoodsShippersReferenceNumber
        - dangerousGoodsSubsidiaryRisksCoded
        - dangerousGoodsTechnicalSpecifications
        - dangerousGoodsUNDGNumber
        - dangerousGoodsVolume
        - measurementUnitCoded
        - dangerousGoodsAdditionalInformation
        - dangerousGoodsPackageTypeCoded
        - voyageNumber
        - vehicleIdentificationNumberVIN
        - dangerousGoodsRegulationCoded
        - messageFunctionCode
      properties:
        TransportEquipmentIdentificationNumber:
          type: string
          description: transport equipment identification number
        CargoItemMarksAndNumbers:
          type: string
          description: >-
            An alphanumeric or symbolic identifier assigned by the shipper as a
            means of tracking non-bulk cargo.
        stowagePositionOnboard:
          type: string
          description: stowage position on board
        dangerousGoodsEmsNumber:
          type: string
          description: >-
            The emergency schedule identified in the values of the IMO EmS Guide
            - Emergency Response Procedures for Ships Carrying Dangerous Goods.
            1 for spill and 1 for fire
        dangerousGoodsFlashpoint:
          type: integer
          description: Possible spill values:\ S-A to S-Z.
        dangerousGoodsHazardClassCoded:
          type: string
          description: >-
            Possible values are:\ F-A to F-Z. (Reference:\ EmS number of
            dangerous goods)
        dangerousGoodsMarinePollutantTypeCoded:
          type: string
          description: >-
            flash point of dangerous goods referenced according to the IMO Code
            IMDG expressed in degrees Celsius or Fahrenheit.
        dangerousGoodsMass:
          type: integer
          description: null
        dangerousGoodsNumberOfPackages:
          type: integer
          description: null
        dangerousGoodsPackingGroup:
          type: string
          description: null
        dangerousGoodsProperShippingName:
          type: integer
          description: null
        dangerousGoodsVolume:
          type: integer
          description: null
        dangerousGoodsSubsidiaryRisksCoded:
          type: string
          description: null
        dangerousGoodsTechnicalSpecifications:
          type: string
          description: null
        dangerousGoodsUNDGNumber:
          type: integer
          description: null
        measurementUnitCoded:
          type: string
          description: null
        dangerousGoodsAdditionalInformation:
          type: string
          description: null
        dangerousGoodsPackageTypeCoded:
          type: string
          description: null
        voyageNumber:
          type: string
          description: null
        vehicleIdentificationNumberVIN:
          type: string
          description: null
        dangerousGoodsRegulationCoded:
          type: string
          description: null
        messageFunctionCode:
          type: string
          description: null
