openapi: 3.0.3
servers:
  - description: PCS Event Planning API
    url: https://pcs-api.its.org.br/api/event-planning/0.0.1
info:
  description: >-
    The eventPlanning API is intended to communicate with the PCS regarding the
    times of events related to the berthing of the ship, including:; time of
    berthing and unberthing, of pilot's climb on the ship, and start and end of
    loading and unloading operations. The service can be used to inform
    estimated, requested and current times of each event.
  version: 0.0.1
  title: PCS Event Planning API
  contact:
    email: contato@its.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /event-planning/{PCSVoyageID}:
    post:
      parameters:
        - in: header
          name: PCSAuthorization
          description: Header to provide credentials that authenticate an actor.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: >-
            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjbnBqIjoiNjQ5Njk4NjkwMDAxMjEiLCJ1c2VyX2FnZW50IjoiMjc5MjgyMDIwMDAxNTQifQ.4h9yVer_GDtpLQbF21FSoQ45nl32j_VwV2mYp0o6HAE
        - name: PCSVoyageID
          in: path
          description: Voyage id that needs to be fetched
          required: true
          schema:
            type: string
      summary: >-
        Updating the operations of berthing and unattracting, loading and
        unloading, ascent and descent of the ship.
      operationId: eventPlanningService
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventTimes'
    get:
      summary: Consult the list of times of events related to the berthing
      operationId: getVoyagesPlanning
      parameters:
        - in: header
          name: PCSAuthorization
          description: Header to provide credentials that authenticate an actor.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: >-
            eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjbnBqIjoiNjQ5Njk4NjkwMDAxMjEiLCJ1c2VyX2FnZW50IjoiMjc5MjgyMDIwMDAxNTQifQ.4h9yVer_GDtpLQbF21FSoQ45nl32j_VwV2mYp0o6HAE
        - name: PCSVoyageID
          in: path
          description: Voyage id that needs to be fetched
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventTimes'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          minLength: 5
          maxLength: 5
          description: error message code
        message:
          type: string
          minLength: 1
          maxLength: 500
          description: error message description
    EventTimes:
      type: object
      required:
        - transportCallID
        - eventCreatedDateTime
        - eventTime
        - eventType
        - transportEventTypeCode
        - operationsEventTypeCode
        - eventClassifierCode
      properties:
        transportCallID:
          description: The unique identifier for a transport call
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        eventCreatedDateTime:
          type: string
          format: date-time
          example: '2021-01-09T14:12:56Z'
        eventTime:
          type: string
          format: date-time
          example: '2021-01-09T14:12:56Z'
        eventType:
          type: string
          enum:
            - STRT
            - CMPL
          description: Event type, whether it is starting or ending
          example: STRT
        transportEventTypeCode:
          type: string
          enum:
            - PLN
            - ACT
            - EST
            - REQ
          description: Transport event type
          example: EST
        operationsEventTypeCode:
          type: string
          enum:
            - TRANSPORT
            - OPERATION
            - PILOTIME
          description: Nature of the event
          example: TRANSPORT
        eventClassifierCode:
          type: string
          enum:
            - ARRI
            - DEPA
          description: Event classification
          example: ARRI
