openapi: 3.0.3
servers:
  - description: PCS Mooring Operators API
    url: https://pcs-api.its.org.br/api/mooring-operators/0.0.1
info:
  description: Rest API for manage Mooring Operators registry
  version: 0.0.1
  title: PCS Mooring Operators API
  contact:
    email: contato@its.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /mooring-operator:
    post:
      summary: adds a Mooring Operators item
      operationId: addMooringOperators
      description: Adds an item to the PCS
      responses:
        '201':
          description: Item created
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
        description: Mooring Operators item to add
  /mooring-operator-user-agent:
    post:
      summary: >-
        Link an Attorney in the actor's registration, authorizing him to
        represent him in the use of PCS services
      operationId: bindUserAgent
      description: Adds an item to the PCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserAgentRegistration'
        description: Mooring Operators item to add
      responses:
        '201':
          description: item created
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /mooring-operator/{cnpj}:
    get:
      summary: Get Mooring Operators by cnpj
      operationId: getMooringOperators
      parameters:
        - name: cnpj
          in: path
          description: The cnpj number that needs to be fetched.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
            application/xml:
              schema:
                $ref: '#/components/schemas/Registration'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Mooring Operator not found
    patch:
      summary: Updated Mooring Operators
      description: Update Mooring Operators, need the same cnpj in User Certificate.
      operationId: updateMooringOperators
      parameters:
        - name: cnpj
          in: path
          description: cnpj that need to be updated
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Registration'
        description: Updated Mooring Operators object
        required: true
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Mooring Operators not found
    delete:
      summary: Delete Mooring Operators
      description: Update Mooring Operators, need the same cnpj in User Certificate.
      operationId: deleteMooringOperators
      parameters:
        - name: cnpj
          in: path
          description: The cnpj that needs to be deleted
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Mooring Operators not found
components:
  schemas:
    Registration:
      type: object
      required:
        - cnpj
        - phone
        - email
        - address
      properties:
        cnpj:
          type: string
          example: '12345678901234'
        email:
          type: string
          format: email
          example: acme@acme.com
        phone:
          type: string
          example: (11) 9 9999 9999
        address:
          $ref: '#/components/schemas/Address'
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: error message code
        message:
          type: string
          description: error message description
    UserAgentRegistration:
      type: object
      required:
        - cnpj
        - cnpjUserAgent
      properties:
        cnpj:
          type: string
          description: cnpj number
        cnpjUserAgent:
          type: string
          description: cnpj number
    Address:
      type: object
      required:
        - address
        - state
        - city
        - postalCode
      properties:
        address:
          type: string
        state:
          type: string
          example: Sao Paulo
        city:
          type: string
          example: Sao Paulo
        postalCode:
          type: string
