openapi: 3.0.3
servers:
  - description: PCS Ship Supplier API
    url: https://pcs-api.its.org.br/api/ship-supplier/0.0.1
info:
  description: Rest API for manage Ship Supplier
  version: 0.0.1
  title: PCS Ship Supplier API
  contact:
    email: contato@its.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /ship-supplier/{PCSVoyageID}:
    post:
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      summary: Maritime agency appoints onboard consumption supplier
      operationId: appointShipSuplier
      responses:
        '201':
          description: item created
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipSupplierNomination'
    get:
      summary: >-
        Consultation for the provision of consumer products on board and
        services.
      operationId: getShipSupplier
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Updated Ship Supplier Informations
      operationId: updateShipSupplier
      parameters:
        - name: PCSVoyageID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: voyage not foundSome item can’t be changed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipSupplierNomination'
        description: Updated Ship Supplier object
        required: true
    delete:
      summary: Delete Ship Supplier
      operationId: deleteShipSupplier
      parameters:
        - name: PCSVoyageID
          in: path
          description: ID of voyage that needs to be deleted
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid cnpj supplied
        '404':
          description: Maritime Agent not found
  /ship-supplier-acceptance/{PCSVoyageID}:
    post:
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      summary: >-
        The company providing on-board consumer products and services informs
        acceptance or refusal of supply
      operationId: acceptanceShipSupplier
      responses:
        '201':
          description: item created
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipSupply'
  /ship-supplier-evaluation/{PCSVoyageID}:
    post:
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      summary: >-
        Method used by consenting bodies to update information regarding the
        analysis of the provision.
      operationId: evaluationShipSupplier
      responses:
        '201':
          description: item created
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipSupply'
  /ship-supplier-authorization/{PCSVoyageID}:
    post:
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      summary: Method used by consenting bodies to inform on board supply authorization
      operationId: authorizationShipSupplier
      responses:
        '201':
          description: item created
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authorization'
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          minLength: 5
          maxLength: 5
          description: error message code
        message:
          type: string
          minLength: 1
          maxLength: 500
          description: error message description
    Response:
      $ref: '#/components/schemas/getShipSupplier'
    getShipSupplier:
      type: array
      items:
        allOf:
          - $ref: '#/components/schemas/ShipSupplierNomination'
          - $ref: '#/components/schemas/ShipSupplierAcceptance'
          - $ref: '#/components/schemas/Authorization'
    ShipSupplierNomination:
      type: object
      required:
        - PCSVoyageID
        - cnpj
      properties:
        PCSVoyageID:
          type: string
          description: Voyage Number generated by PCS
          minLength: 20
          maxLength: 20
          example: PCS12345678900000001
        cnpj:
          type: string
          description: CNPJ number of the company responsible for onboard supply
          minLength: 14
          maxLength: 14
          example: '99999999999999'
    ShipSupplierAcceptance:
      type: object
      required:
        - PCSVoyageID
        - acceptance
      properties:
        PCSVoyageID:
          type: string
          description: Voyage Number generated by PCS
        acceptance:
          type: string
          description: Acceptance or Refusal of the operation informed by the PCSVoyageID
          enum:
            - Accepted
            - Refused
          example: Accepted
    Authorization:
      type: object
      required:
        - PCSVoyageID
        - authorizationID
        - authorizationStatus
        - requirementCode
        - requirementDescription
      properties:
        PCSVoyageID:
          type: string
          description: Trip identification code generated by PCS
          minLength: 20
          maxLength: 20
          example: PCS00000123456789001
        authorizationID:
          type: string
          description: authorization code
        authorizationStatus:
          type: string
          description: authorization status
        requirementCode:
          type: array
          items:
            type: string
            description: Pending code.
        requirementDescription:
          type: string
          description: description of pendency
    ShipSupply:
      type: object
      required:
        - PCSVoyageID
        - date
        - shipSupplyContent
      properties:
        PCSVoyageID:
          type: string
          description: Voyage Number generated by PCS
        date:
          type: string
          description: On-board consumption supply data.
        shipSupplyContent:
          $ref: '#/components/schemas/ShipSupplyContent'
    ShipSupplyContent:
      type: object
      required:
        - shipSupplyType
        - item
        - quantity
      properties:
        shipSupplyType:
          type: string
          description: Type of supply, product or service
        item:
          type: string
          description: Description of the item to be supplied.
        quantity:
          type: integer
          description: Quantity of the item to be supplied.
