openapi: 3.0.3
servers:
  - description: PCS Ship Store API
    url: https://pcs-api.its.org.br/api/ship-store/0.0.1
info:
  description: Rest API for manage Ship Store
  version: 0.0.1
  title: PCS Ship Store API
  contact:
    email: contato@its.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /ships-store/{PCSVoyageID}:
    post:
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      summary: Creates a bill of materials in PCS linked to a trip.
      operationId: createShipStore
      responses:
        '201':
          description: item created
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrewList'
    get:
      summary: Check the bill of materials for a trip
      operationId: getShipStore
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  CrewList:
                    $ref: '#/components/schemas/CrewList'
                  Authorization:
                    $ref: '#/components/schemas/Authorization'
            application/xml:
              schema:
                type: object
                properties:
                  CrewList:
                    $ref: '#/components/schemas/CrewList'
                  Authorization:
                    $ref: '#/components/schemas/Authorization'
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Updated Ship Store Informations
      operationId: updateShipStore
      parameters:
        - name: PCSVoyageID
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: voyage not foundSome item can't be changed
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrewList'
        description: Updated Ship Store object
        required: true
    delete:
      summary: Delete Ship Store
      operationId: deleteShipStore
      parameters:
        - name: PCSVoyageID
          in: path
          description: ID of voyage that needs to be deleted
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid cnpj supplied
        '404':
          description: Maritime Agent not found
  /ships-store-evaluation/{PCSVoyageID}:
    post:
      parameters:
        - name: PCSVoyageID
          in: path
          description: voyage id that needs to be fetched
          required: true
          schema:
            type: string
      summary: >-
        method used by consenting bodies to update information regarding
        material analysis
      operationId: evaluateShipStore
      responses:
        '201':
          description: item created
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: an existing item already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Authorization'
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          minLength: 5
          maxLength: 5
          description: error message code
        message:
          type: string
          minLength: 1
          maxLength: 500
          description: error message description
    Authorization:
      type: object
      required:
        - PCSVoyageID
        - authorizationID
        - authorizationStatus
        - requirementCode
        - requirementDescription
      properties:
        PCSVoyageID:
          type: string
          description: Trip identification code generated by PCS
          minLength: 20
          maxLength: 20
          example: PCS00000123456789001
        authorizationID:
          type: string
          description: authorization code
        authorizationStatus:
          type: string
          description: authorization status
        requirementCode:
          type: array
          items:
            type: string
            description: Pending code.
        requirementDescription:
          type: string
          description: description of pendency
    CrewList:
      type: object
      required:
        - PCSVoyageID
        - agentIdentification
        - shipID
        - crewListContent
        - voyageNumber
        - messageFunctionCode
      properties:
        PCSVoyageID:
          type: string
          description: Trip identification code generated by PCS
          minLength: 20
          maxLength: 20
          example: PCS00000123456789001
        agentIdentification:
          $ref: '#/components/schemas/AgentIdentification'
        shipID:
          $ref: '#/components/schemas/ShipID'
        crewListContent:
          type: array
          items:
            $ref: '#/components/schemas/CrewListContent'
        voyageNumber:
          type: string
          description: An operator-assigned reference code for the ship's voyage.
          example: 201W
        messageFunctionCode:
          type: string
          description: Code providing the function of a message.
    AgentIdentification:
      type: object
      required:
        - agentContactName
        - agentIdentificationNumber
        - agentName
        - authenticationDate
        - authenticatorName
        - authenticatorRoleCoded
      properties:
        agentContactName:
          type: string
          description: The agent's employee contact name.
        agentIdentificationNumber:
          type: string
          description: >-
            The recognized identification number used by the ship's agent at the
            port of notification
        agentName:
          type: string
          description: The agent's name at the port of arrival.
        authenticationDate:
          type: string
          description: The authentication date
        authenticatorName:
          type: string
          description: >-
            The name of the person who attests to the validity of the
            information transmitted.
        authenticatorRoleCoded:
          type: string
          description: >-
            A code that provides the role of the person who attests to the
            validity of the transmitted information
    ShipID:
      type: object
      required:
        - shipFlagStateCoded
        - shipIMONumber
        - shipName
        - shipStayReferenceNumber
      properties:
        shipFlagStateCoded:
          type: string
          description: >-
            The code representing the nationality of the ship shown on your IMO
            ship certificate. ISO 3166-1 alpha-2 code (code  UN  /  EDIFACT
            3207)
        shipIMONumber:
          type: string
          description: >-
            The unique ship identification number shown on your IMO Ship
            Certificate. (Reference:/ IMO0140)
          maxLength: 7
          example: '1801323'
        shipName:
          type: string
          description: >-
            The unique ship identification number shown on your IMO Ship
            Certificate.
          example: Vessel A
        shipStayReferenceNumber:
          type: string
          description: >-
            Reference number assigned by a port authority to the stay of a ship
            in port.
    CrewListContent:
      type: object
      required:
        - crewMemberRankRatingName
        - personOnBoardSequenceNumber
        - dateAndTimeOfArrivalActual
        - dateAndTimeOfArrivalEstimated
        - dateAndTimeOfDepartureActual
        - dateAndTimeOfDepartureEstimated
        - lastPortOfCallName
        - lastPortOfCallCoded
        - personCountryOfBirthCoded
        - personDateOfBirth
        - personFamilyName
        - personGenderCoded
        - personGivenName
        - personIdentityOrTravelDocumentExpiryDate
        - personIdentityOrTravelDocumentIssuingNationCoded
        - personIdentityOrTravelDocumentNumber
        - personIdentityOrTravelDocumentTypeCoded
        - personNationalityCoded
        - personPlaceOfBirthName
        - personTypeCoded
        - portOfArrivalCoded
        - portOfArrivalName
        - portOfDepartureCoded
        - portOfDepartureName
        - authenticatorRoleCoded
      properties:
        crewMemberRankRatingName:
          type: string
          description: >-
            The description of the rank or classification of the crew member
            referenced on the vessel.
        userAgent:
          type: string
          description: >-
            A code retestsenting the classification or classification of the
            crew member referenced on the vessel.
        personOnBoardSequenceNumber:
          type: integer
          description: >-
            A number indicating the order of the person referenced in the list
            of people on board.
        dateAndTimeOfArrivalActual:
          type: string
          description: date and time the ship arrives at a specified location, ATA.
        dateAndTimeOfArrivalEstimated:
          type: string
          description: The date and time the ship must arrive at a specified location, ETA
        dateAndTimeOfDepartureActual:
          type: string
          description: The date and time the ship departs from a specified location, ATD
        dateAndTimeOfDepartureEstimated:
          type: string
          description: >-
            The date and time the ship is estimated to depart from a specified
            location, ETD.
        lastPortOfCallName:
          type: string
          description: >-
            The name and country of the port immediately preceding the port of
            arrival
        personCountryOfBirthCoded:
          type: string
          description: >-
            The code representing the country of birth of the referenced person,
            as shown on the person's identity document.
        personDateOfBirth:
          type: string
          description: >-
            The date of birth of the referenced person, as shown on the person's
            identity document
        lastPortOfCallCoded:
          type: string
          description: The last name of the referred person
        personGenderCoded:
          type: string
          description: A code that represents the gender of the referenced person
        personGivenName:
          type: string
          description: The name of the referred person
        personIdentityOrTravelDocumentExpiryDate:
          type: string
          description: >-
            The expiry date indicated on the referenced person's identity
            document.
        personIdentityOrTravelDocumentIssuingNationCoded:
          type: string
          description: >-
            A code representing the nation issuing the presented identity of the
            referenced person or travel document
        personIdentityOrTravelDocumentNumber:
          type: string
          description: >-
            The unique tracking number assigned to the identity of the
            referenced person or travel document by the issuing nation
        personIdentityOrTravelDocumentTypeCoded:
          type: string
          description: >-
            a code representing the type of identity or travel document
            presented by the referenced person.
        personNationalityCoded:
          type: string
          description: >-
            a code that represents the nationality of the referenced person, as
            shown on the person's identity or travel document.
        personPlaceOfBirthName:
          type: string
          description: The name of the person's birthplace
        personTypeCoded:
          type: string
          description: >-
            a code that represents the type of person aboard the ship, such as
            captain, crew member or passenger
        portOfArrivalCoded:
          type: string
          description: The code representing the ship's port of arrival.
        portOfArrivalName:
          type: string
          description: The name and country of the ship's port of arrival
        portOfDepartureCoded:
          type: string
          description: code that represents the port from which the ship departs.
        portOfDepartureName:
          type: string
          description: A name and country of the port from which the ship departs
        authenticatorRoleCoded:
          type: string
          description: >-
            A code that provides the role of the person who attests to the
            validity of the transmitted information.
