openapi: 3.0.3
servers:
  - description: PCS Terminal Confirmation API
    url: https://pcs-api.its.org.br/api/terminal-confirmation/0.0.1
info:
  description: Rest API for manage responasability declaration of port facility
  version: 0.0.1
  title: PCS Terminal Confirmation API
  contact:
    email: contato@its.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
paths:
  /terminal-confirmation:
    post:
      summary: >-
        Through this interface, it is possible to express the acceptance or
        refusal of responsibility related to a trip.
      operationId: portFacilityAcceptance
      responses:
        '201':
          description: successful operation
        '400':
          description: invalid input, object invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceProvidersAcceptance'
  /terminal-confirmations/:
    get:
      summary: >-
        Through this interface, it is possible to consult trips where the actor
        has been mentioned as responsible for one or more activities.
      operationId: getProvidersResponsabilities
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceProvidersAcceptance'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceProvidersAcceptance'
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
  /terminal-confirmation/{IDMethod}/{value}:
    patch:
      summary: >-
        Through this interface it is possible to update the acceptance or denial
        of responsibility for a trip
      operationId: updateProvidersResponsabilities
      parameters:
        - name: IDMethod
          in: path
          required: true
          schema:
            type: string
            enum:
              - PCSVoyageID
              - receiptID
          description: Type of identification of voyage
        - name: value
          in: path
          required: true
          schema:
            type: string
          description: Value of ID defined in ID method
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/xml:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceProvidersAcceptance'
        description: Update responsabilities acceptance
        required: true
components:
  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: error message code
        message:
          type: string
          description: error message description
    ServiceProvidersAcceptance:
      type: object
      required:
        - IDMethod
        - acceptance
      properties:
        IDMethod:
          type: object
          properties:
            PCSvoyageID:
              type: string
              description: Voyage Number generated by PCS
            receiptID:
              type: string
              description: >-
                Receipt code made available to the applicant for future status
                consultation at the time of trip creation
          oneOf:
            - required:
                - PCSvoyageID
            - required:
                - receiptID
        acceptance:
          type: string
          enum:
            - Accepted
            - Refused
          description: >-
            Field where the mooring company or tugboat must express acceptance
            or refusal of the operation informed by the shipping agent, related
            to a trip (PCSVoyageID)
